<div class="container w-50 mt-5">
    <form (ngSubmit)=(onSubmit())>
        <div class="mb-3 ">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email"
          [(ngModel)]="email">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password"
          [(ngModel)]="password">
        </div>
        
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    
</div>